Source: proxmox-archive-keyring
Section: misc
Priority: optional
Build-Depends: debhelper-compat (=13), lintian,
Standards-Version: 4.6.1
Maintainer: Proxmox Support Team <support@proxmox.com>

Package: proxmox-archive-keyring
Architecture: all
Depends: ${misc:Depends},
Description: Proxmox APT archive keyring
 This package contains the release keyrings used to sign APT repositories for
 various Proxmox products.
